
body {
  width: 100%;
  height: 100%;
  min-width: 768px;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  background-color: #f2f2f2;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;

}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: white;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ------------ HEADER ------------ */
.main-header {
  position: relative;
  height: 56px;
}

.main-nav {
  padding-left: 6%; 
  padding-right: 6%;
}
.main-nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.main-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
}
.main-nav a {
   text-decoration: none;
   font-size: 14px;
   line-height: 26px;
   color: #000000;
   font-weight: bold;  
}
.main-nav_item {
  width: 20%; 
  }
.main-nav_info {
  float: left;
  width: 20%;
  margin-right: 4%; 
  text-align: left;
}
.main-nav_photo {
  float: left;
  width: 20%;
  text-align: left;
}
.main-nav_hotels {
  float: right;
  width: 20%;
  text-align: right;
}
.main-nav_map {
  float: right;
  width: 20%;
  text-align: right;
}

.logo {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -69px;
}

/* ------------ MAIN (INDEX)------------ */
.main-content {
  position: relative;
  z-index: 10;
}
.intro {
  position: relative;
  width: 100%;
  height: 508px;
  margin-bottom: 60px;
  overflow: hidden;
}
.intro img {
  position: absolute;
  top: -55px;
  width:100%;
  height: auto;
}
.intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    background: url("../img/background/shape.png") no-repeat center;

    background-size: 100% 100%;
    bottom: 0;
}
.description h1 {
  margin-bottom: 35px;
  text-align: center;
}
.description p {
  margin-bottom: 60px;
  text-align: center;
}
.features-item {
  float: left;
  width: 33%; /* 400px*/
  height: 255px;
  text-align: center;
}
.features-img {
  width: 67%; /* 800px*/
  height: 255px;
  overflow: hidden;
}
.features-img img {
  width:100%
  height: auto;
  margin-top: -80px;
}



.features-row-1 .features-item {
  color: #ffffff;
  background : #82b3d3;
}
.features-row-1 .features-img {
  float: right;
  width: 67%;
}
.features-row-1  .features-title {
  margin-top: 55px;
  color: #ffffff;
}
.features-row-1  .features-numb {
  margin-top: 25px;
}
.features-row-1  .features-descript {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 30px;
  margin-bottom: 55px;
}



.features-row-2 {
  height: 330px;
}
.features-row-2 .features-title {
  margin-top: 160px;
}
.features-row-2 .features-descript {
  margin-top: 25px;
  margin-bottom: 85px;
}
.features-row-2 .features-item:nth-child(1) {
  background: url("../img/icon/house.png") no-repeat 160px 45px;
}
.features-row-2 .features-item:nth-child(2) {
  background: url("../img/icon/food.png") no-repeat 160px 45px;
}
.features-row-2 .features-item:nth-child(3) {
  background: url("../img/icon/souvenir.png") no-repeat 160px 45px;
}



.features-row-3 .features-item {
  float: left;
  background : #82b3d3;
  color: #ffffff;
}
.features-row-3 .features-img {
  float: left;
  width: 67%;
}
.features-row-3  .features-title {
  margin-top: 55px;
  color: #ffffff;
}
.features-row-3  .features-numb {
  margin-top: 25px;
}
.features-row-3 .features-descript {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 30px;
  margin-bottom: 55px;
}


.features-row-4 .features-item {
  float: left;
  margin-bottom: 55px;
  background: #eeeeee;
}
.features-row-4  .features-title {
  margin-top: 55px;
}
.features-row-4  .features-numb {
  margin-top: 25px;
}
.features-row-4  .features-descript {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 30px;
  margin-bottom: 55px;
}




.reserve-block {
  text-align: center;
  background: white;
}
.reserve-block-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 26px;

  margin-bottom: 35px;
}
.reserve-block p {
  margin-bottom: 50px;
}
.search {
  position: relative;
  width: 575px;
  margin: 0 auto;
}
.search-title {
}
.search-push {
  display: block;
  height: 80px;

  background: #766357;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.map {
  width: 100%;
  overflow:hidden
}
.search-form {
  position: absolute;
  width: 575px;
  z-index: 50;
  background: #ffffff;
}



/* ------------ MAIN (HOTELS)------------ */
.main-content {
  margin-bottom: 120px;
}
.serch-options {
  /*Тут блок вылез за пределы родителя (посмотри в инструметах разработчика в браузере)
https://gyazo.com/700c6c6f6fac5532b7f62921a8202592
потому что ты задала ему ширину 100% и горизонтальные отступы. Ширина наверно лишняя.
И высота лишняя. А если опций будет больше? Нужно воспользоваться вертикальными паддингами
*/
  min-height: 185px;
  padding: 30px 6%;
  color: #ffffff;

  background: #5182ad url("../img/background/background_hotels.jpg") no-repeat;
}
.form-filter {
  
}
.filters {
  float: left;
  width: 33%; 
  max-width: 250px;
}
.cost-select {
  float: right;
  width: 33%;
}
.serch-sortby {
  padding: 0 6%;
  border-bottom: 1px solid #e5e5e5;
}
.sort {
  display: inline-block;
  float: left;
  width: 700px;
  height: 26px;
  padding: 30px 0;
}
.found {
  display: inline-block;
  width: 140px;
  margin-right: 26px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.sort-title {
  display: inline-block;
  width: 80px;
  margin-right: 35px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.sort-by {
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;

  font-size: 12px;
  line-height: 18px;
  
}
.sort-by-item {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 30px;
  
}
.sort-by-item a {
  color: #b1b1b1;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sort-by-item .active {
  color: #81b3d2;
  border-bottom: none;
}
.switch {
  float: right;
  width: 34px;
  height: 11px;
}
.sort-low {
  width: ;
  background: #ffffff url("../img/icon/spritesheet.png") no-repeat 218px 2px;
}



.found-items {
  width: 100%;
}
.item {
  display: block;
  padding: 30 6%;
  border-bottom: 1px solid #e5e5e5;
}
.item-img {
  float: left;
  margin-right: 30px;
}
.item-info {
  float: left;
  width: 260px;
}
.item-title {
  margin-bottom: 12px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.item-type {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  margin-right: 3px;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.item-price {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.item-btn {}
.item-btn-more {
  padding: 5px 17px;
  background: #81b3d2;
  margin-right: 3px;

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
.item-btn-book {
  padding: 5px 16px;
  background: #766357;

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.item-rating {
  float: right;
  width: 110px;
}
.stars {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  margin-bottom: 47px;
}
.rating-index {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  padding: 6px 0;
  background: #f2f2f2;

  text-align: center;
  vertical-align: middle;

  font-size: 14px;
  line-height: 21px;
  color: #666666;
  
}
/*------------ FOOTER ------------*/
.main-footer {
  position: absolute;
  z-index: 100;
  padding: 35px 0px;
  height: 50px;
  margin-top: -120px;
  width: 100%;
  top: 2675px;
  
  background: rgba(241, 241, 241, 0.9) none repeat scroll 0% 0%;
  /* для оформления схемы */
  background: rgba (241 241 241 0.5);
}
.footer-hashtag {
  float: left;
  width: 33%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.footer-hashtag .bold {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  float: left;
  width: 33%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.social-btn {
  display: inline-lock;
  width: 45px;
  height: 45px;
  
  font-size: 0;
  text-decoration: none;

  background: #81b3d2 url("../img/icon/spritesheet.png") no-repeat center;
}
.social-btn-twit {
  background-position: 7px -228px;
}
.social-btn-fb {
  background-position: 8px -112px;
}
.social-btn-youtb {
  background-position: 5px -298px;
}

.footer-copyright {
  float: left;
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}
.footer-copyright a {
  display: inline-block;
  vertical-align: top;
  padding-left: ;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}
.copyright img {
  display: inline-block;
  vertical-align: top;
}
